.container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  padding: 0rem 2rem;
  justify-content: space-between;
}
.div1 {
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: left;
  width: 50%;
  gap: 1.5rem;
}

.image{
  width: 50%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: right;
}

.btn {
  height: fit-content;
  width: max-content;
  border-radius: 5px;
  padding: 1rem 2rem;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(32, 150, 253);
  transition: 0.4s all ease;
}
.btn:hover{
  scale: 1.08;
}
.text {
  font-size: 40px;
  background: linear-gradient(rgb(21, 129, 62), white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.4s all ease;
}
.text:hover{
  scale:1.06;
}
.move{
  animation: move 3s infinite ease alternate;
}

@keyframes move{
  from{
    transform:translateY(-15px);
  }
  to{
    transform: translateY(10px) scale(1.05);
  }
}

